@model List<GymProject.Domain.Entity.Membership>

@using GymProject.Domain.Helpers;
@{ ViewBag.Title = "Karnety";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WSB GYM PROJECT</title>
    <link rel="stylesheet" href="~/css/mainCss.css" />
    <link rel="stylesheet" href="~/css/karnety.css" />
</head>
<body>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__contacts">
                    <a class="header__phone" href="#">+48 793 909 202 </a>
                    <a class="header__email" href="#"> gym.gmail.com</a>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a data-fancybox data-src="#modal" asp-controller="account" asp-action="login" class="header__btn">Logowanie</a>}
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a data-fancybox data-src="#modal" asp-controller="profile" asp-action="info" class="header__btn">PANEL KLIENTA</a>
                        <a data-fancybox data-src="#modal" class="header__btn" asp-controller="Account" asp-action="Logout">LOGOUT</a>}
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="container">
                <div class="header__content-inner">
                    <div class="header__logo">

                    </div>
                    <nav class="menu">
                        <div class="header__btn-menu">
                            <span class="icon-bars"></span>
                        </div>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Blog">BLOG</a></li>
                            <li><a asp-controller="Home" asp-action="AboutUs">O NAS</a></li>
                            <li><a asp-controller="Membership" asp-action="GetMembership">KUP KARNET </a></li>
                            <li><a asp-controller="Contact" asp-action="ContactSend">KONTAKT</a></li>
                            <li><a asp-controller="Home" asp-action="Index">STRONA GLÓWNA</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">

        <div class="card">
            <img src="/img/karnet1.jpg" alt="">
            <div class="content">
                <div class="row">
                    <div class="details">
                        <span>NAZWA KARNETU</span>
                        <p>NAZWA</p>
                    </div>
                    <div class="price">CENA</div>
                </div>
                <div class="buttons">
                    <button>więcej</button>
                    <a class="cart-btn" asp-action="Pay" asp-route-memberId="19.00" asp-controller="Cart">wybieram</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/img/karnet2.jpg" alt="">
            <div class="content">
                <div class="row">
                    <div class="details">
                        <span>NAZWA2</span>
                        <p>OPIS</p>
                    </div>
                    <div class="price">CENA</div>
                </div>
                <div class="buttons">
                    <button>więcej</button>
                    <button class="cart-btn" asp-action="Pay" asp-route-memberId="20.00" asp-controller="Cart">wybieram</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/img/karnet3.jpg" alt="">
            <div class="content">
                <div class="row">
                    <div class="details">
                        <span>Karnet na 6 miesięcy</span>
                        <p>płatny co miesiąc lub z góry</p>
                    </div>
                    <div class="price">660 zł</div>
                </div>
                <div class="buttons">
                    <button>więcej</button>
                    <button class="cart-btn">wybieram</button>
                </div>
            </div>
        </div>
    </div>



    <div class="wrapper_2">

        <div class="card_2">
            <img src="/img/karnet4.jpg" alt="">
            <div class="content_2">
                <div class="row_2">
                    <div class="details_2">
                        <span>Karnet na 12 miesięcy</span>
                        <p>płatny z góry, 2 miesiące gratis</p>
                    </div>
                    <div class="price_2">1100 zł</div>
                </div>
                <div class="buttons_2">
                    <button>więcej</button>
                    <button class="cart_2-btn">wybieram</button>
                </div>
            </div>
        </div>

        <div class="card_2">
            <img src="/img/karnet5.jpg" alt="">
            <div class="content_2">
                <div class="row_2">
                    <div class="details_2">
                        <span>Karnet dla rodziny</span>
                        <p>dla 2-4 osób (cena za jeden karnet)</p>
                    </div>
                    <div class="price_2">1000 zł</div>
                </div>
                <div class="buttons_2">
                    <button>więcej</button>
                    <button class="cart_2-btn">wybieram</button>
                </div>
            </div>
        </div>

        <div class="card_2">
            <img src="/img/karnet6.jpg" alt="">
            <div class="content_2">
                <div class="row_2">
                    <div class="details_2">
                        <span>Karnet dla trenera</span>
                        <p>na czas nieokreślony, płatny co miesiąc</p>
                    </div>
                    <div class="price_2">600 zl</div>
                </div>
                <div class="buttons_2">
                    <button>więcej</button>
                    <button class="cart_2-btn">wybieram</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__content">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__info">
                        <div class="footer__title">
                            <img src="img/logo.png" width="90" height="90" alt="LOGO">
                        </div>


                        <ul class="footer__list">
                            <li><a class="footer__phone" href="#">+48 793 909 202 </a></li>
                            <li><a href="#">gym.gmail.com</a></li>
                            <li><a class="footer__adress" href="#">Poznań, ul. Św. Czesława 99a</a></li>
                        </ul>
                    </div>
                    <!-- <div class="footer__map">
                      <iframe height="250px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.124391996489!2d30.364922015731644!3d50.457408279476354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc919501b4ef%3A0x71a476f68f4c8246!2z0YPQuy4g0KTQtdC-0LTQvtGA0Ysg0J_Rg9GI0LjQvdC-0LksIDEzLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1555013165886!5m2!1sru!2sua" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="footer__copy">
            <div class="container">
                <div class="copy__text">
                    2022 Yevheniia Okhrimenko Viacheslav Trus Marian Vadzitskyj
                </div>
            </div>
        </div>
    </footer>
</body>
</html>